
/* @import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap'); */

 
.body{
    max-width: 1140px;
    font-family: Azeret Mono;
}
 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
    height: 50px;
    margin: 30px auto;
 }
  .resume{
    padding: 17px 24px 17px 24px;
    border-radius: 8px;
  }
.azeret-sans-mono{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.banner{
    background-image: url("../assets/Hero-bg.png");
    
height: 652px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;

}
.banner-container{
    
}
.title{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 700;
line-height: 68px;
letter-spacing: 0%;

}
.description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;   
}
.button{
    padding: 21px 24px 21px 24px;
    border-radius: 8px;

    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
 
}

/* why web development section  */
.why-web{
    text-align: center;
    font-family: Azeret Mono;
    width: 952px;
height: 115px;
margin: 0 auto;
margin-bottom: 50px;
}
.why-web-title, .name{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
 
}
.why-web-des{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 19px;
font-weight: 400;
line-height: 26px;
 
}
.why-web-container{
    padding: 80px 100px;
  
}
.coding-container{
   
}
.coding1{
    font-family: Azeret Mono;
    display: flex;
    width: 946px;
height: 336px;
justify-content: space-evenly;
margin: auto;
 
color: rgba(13, 19, 33, 0.7);
 
}
.coding-content{
  width: 480px;
   gap: 20px;
}
.coding-img{
    margin-top: 20px;
}
.button2{
    padding:12px 20px 12px 20px;
    font-family: Azeret Mono;
}
/* .inspiration section */
.inspiration-content{
justify-content: center;
align-items: center;
text-align: center;
 
}
.inspiration-title, .target-title{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}
.inspiration-des, .target-des{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
.inspiration-video{
    width: 1076px;
height: 550px;

margin: 0 auto;
margin-bottom: 150px;
 
}
.video{
    width:  100%;
    margin: 0px auto;
    height: 100%;
   margin: 50px 0px;
   border-radius: 8px;
 }

 /* target section  */
 .target{
    max-width: 1140px;
    
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
 }
 .target-content{
    text-align: center;
 }
 
 .skill-container{
    display: flex;
    gap: 40px;
 }
 .skill-title{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
 }
 .skills1{
    width: 364px;
    font-family: Azeret Mono;
border-radius: 16px;
padding: 40px;
background: rgba(255, 76, 30, 0.05);

 }
 .skill-des{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}
 .skills2{
    width: 364px;
 
border-radius: 16px;
padding: 40px;
background: rgba(0, 76, 232, 0.05);

 }
 .skills3{
    width: 364px;
 
border-radius: 16px;
padding: 40px;
background-color: rgba(255, 223, 0, 0.05)
}

/* need support  */
.support{
    max-width: 1140px;
    height: 313px;
    margin: 50px auto;
     
    background-image: url("../assets/handshake.jpg");
    background-size: cover;
    background-position: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: rgba(0,0,0, 0.5);
background-blend-mode: overlay;
}
.support-title{
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 700;
line-height: 6px;
letter-spacing: 0%;
text-align: center;
}
.support-des{
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;

}
.feedback{
    padding: 15px 80px 15px 15px;
}
.submit{
    padding: 15px 20px;
}

footer{
    font-family: Azeret Mono;
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0px auto;
}